<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Index </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}" >

    </head>
    <body>
        <!-- Header -->
        <div class="row upper-header">
            <div id="product-header" class="col-6 padd-2">
                <i class="fa-solid fa-box"></i>
                Products
                <!-- Dinamic current page value display none  -->
                <input style="display:none" id="current-page" value=1>
            </div>
            <div class="col-6 padd-2">
                <div class="row">
                    <div class="col-10">
                        <div class="input-group rounded">
                            <input type="search" class="form-control rounded" id="input_search" placeholder="Search by name" aria-label="Search" aria-describedby="search" />
                            <span class="input-group-text sm-group border-0" id="search">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </br>
        <!-- TOASTERS -->
        <div aria-live="polite" aria-atomic="true" style="position: relative;">
            <div id="toast-all" class="toast toast-ok" style="position: absolute; top: 0; right: 0; z-index:99;">
                <div class="toast-header">
                    <i id="toast-icon" class="fa fa-check toaster-green"></i>
                    <strong class="mr-auto" style="width:70%">&nbsp; &nbsp; Whiterun</strong>
                    <small style="width:20%">1 sec ago</small>
                </div>
                <div class="toast-body">
                    product created
                </div>
            </div>
        </div>
        <!-- Product table -->
        <div class="row product-table">
            <div class="col-12">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Is virtual</th>
                        <th scope="col">Show Skus</th>
                    </tr>
                    </thead>
                    <tbody id="product-table">
                    
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-md-3">
            <button class="btn btn-danger add"> Add new product </button>
            </div>
        </div>
        <div class="row">
            <div id="paginator"class="col-12">
            </div>
        </div>
        </br>

        <!-- Inputs for adding a new product -->
        <div class="container add-new d-none">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <label for="name" class="form-label"></label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="input1">Name</span>
                        </div>
                        <input type="text" class="form-control" id="name" placeholder="Name of the product" aria-label="Name" aria-describedby="input1" required>
                    </div>
                    <div id="invalid-text1" class="col-sm-3 invalid-alert d-none">
                        Text for something wrong
                    </div>
                    </br>
                </div>
                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="input2">Description</span>
                        </div>
                        <input type="text" class="form-control" id="desc" placeholder="Description of the product" aria-label="Description" aria-describedby="input2">
                    </div>
                    <div id="invalid-text2" class="col-sm-3 invalid-alert d-none">
                        Text for something wrong
                    </div>
                    </br>
                </div>
                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="input3">Price</span>
                        </div>
                        <input type="text" class="form-control" id="price" placeholder="Sell price of the product" aria-label="Price" aria-describedby="input3">
                        <div class="input-group-prepend">
                            <span class="input-group-text sm-group" id="input3">$</span>
                        </div>
                        
                    </div>
                    <div id="invalid-text3" class="col-sm-3 invalid-alert d-none">
                        Text for something wrong
                    </div>
                    </br>
                </div>
                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="input4">Cost</span>
                        </div>
                        <input type="text" class="form-control" id="cost" placeholder="Buy price of the product" aria-label="Price" aria-describedby="input4">
                        <div class="input-group-prepend">
                            <span class="input-group-text sm-group" id="input4">$</span>
                        </div>
                    </div>
                    <div id="invalid-text4" class="col-sm-3 invalid-alert d-none">
                        Text for something wrong
                    </div>
                    </br>
                </div>
                <div class="col-md-12">
                    <div class="form-check">
                        <input class="form-check-input" id="is_virtual" type="checkbox">
                        <label class="form-check-label" for="Is_virtual">
                            Is virtual
                        </label>
                    </div>
                </div>
                
            </div>
            </br>
            <div class="row justify-content-start">
                <div class="col-md-1">
                    <button class="btn btn-danger cancel"> Cancel </button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-success create"> Create </button>
                </div>
            </div>
        </div>  
        
        <!-- Modal for sku inputs -->
        <div class="modal fade" id="sku_modal" tabindex="-1" role="dialog" aria-labelledby="sku_modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sku_modalLabel">Adding new sku to</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container add-sku">
                        <div class="row">
                            <h3>Add new sku for a product</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <label for="product_name" class="form-label"></label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="input5">Product Name</span>
                                    </div>
                                    <input type="text" class="form-control" id="product_name" placeholder="Product name to link with the new sku" aria-label="Product name" aria-describedby="input5" required disabled>
                                    <input style="display:none" type="text" class="form-control" id="product_id" aria-label="Product id" aria-describedby="input15" required >
                                </div>
                                <div id="invalid-text5" class="col-sm-3 invalid-alert d-none">
                                    Text for something wrong
                                </div>
                                </br>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="input6">Barcode</span>
                                    </div>
                                    <input type="text" class="form-control" id="barcode" placeholder="Barcode of the sku" aria-label="Barcode" aria-describedby="input6">
                                </div>
                                <div id="invalid-text6" class="col-sm-3 invalid-alert d-none">
                                    Text for something wrong
                                </div>
                                </br>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="input7">Sku Code</span>
                                    </div>
                                    <input type="text" class="form-control" id="sku_code" placeholder="Code of the sku" aria-label="Sku code" aria-describedby="input7">
                                </div>
                                <div id="invalid-text7" class="col-sm-3 invalid-alert d-none">
                                    Text for something wrong
                                </div>
                                </br>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="input8">Sku price</span>
                                    </div>
                                    <input type="text" class="form-control" id="sku_price" placeholder="Price of the sku" aria-label="Sku price" aria-describedby="input8">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text sm-group dolar" id="input8">$</span>
                                    </div>
                                </div>
                                <div id="invalid-text8" class="col-sm-3 invalid-alert d-none">
                                    Text for something wrong
                                </div>
                                </br>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="input9">Color code</span>
                                    </div>
                                    <input type="text" class="form-control" id="color_code" placeholder="Color code of the sku (3)" aria-label="Color" aria-describedby="input9">
                                </div>
                                <div id="invalid-text9" class="col-sm-3 invalid-alert d-none">
                                    Text for something wrong
                                </div>
                                </br>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="input10">Color Description</span>
                                    </div>
                                    <input type="text" class="form-control" id="color_desc" placeholder="Color description" aria-label="Color description" aria-describedby="input10">
                                </div>
                                <div id="invalid-text10" class="col-sm-3 invalid-alert d-none">
                                    Text for something wrong
                                </div>
                                </br>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="size_code">Sku size</label>
                                </div>
                                <select class="custom-select" id="size_code">
                                    <option value="texto" selected>Choose the size of the new sku...</option>
                                    <option value="XS">XS - Extra Small</option>
                                    <option value="S">S - Small</option>
                                    <option value="M">M - Medium</option>
                                    <option value="L">L - Large</option>
                                    <option value="XL">XL - Extra Large</option>
                                    <option value="XXL">XXL - Extra extra Large</option>
                                </select>
                                <div id="invalid-text11" class="col-sm-3 invalid-alert d-none">
                                    Text for something wrong
                                </div>
                                </br>
                            </div>
                            <div class="col-md-12">
                                </br>
                                <div class="form-check">
                                    <input class="form-check-input" id="backordereable" type="checkbox">
                                    <label class="form-check-label" for="backordereable">
                                        Backordereable
                                    </label>
                                </div>
                            </br>
                            </div>
                        </br>
                        </br>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger close">Cancel</button>
                    <button id="create_sku" class="btn btn-success">Create</button>
                </div>
                </div>
            </div>
        </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static '/product/product.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</html>